html {
  height: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Arial", sans-serif;
  height: 100%;
}

body.byu-secondary {
  background-color: #455982;
}

body.colts-secondary {
  background-color: #45658A;
}

body.knights-secondary {
  background-color: #A6977D;
}

body.main {
  background-color: #a5a5a5;
}

.box.main {
  background-color: #6F6F6F;
}

.navbar {
  background-color: #d1d1d1;
}

.nav-item {
  font-size: 20px;
  font-weight: bold;
}

.footer {
  width: 100%;
  background-color: #393939;
  padding: .5em 0;
  text-align: center;
}

.footer.byu-primary {
  background-color: #001C54;
}

.footer.colts-primary {
  background-color: #002C5F;
}

.footer.knights-primary {
  background-color: #85714D;
}

.footer a{
  color: white;
}

.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.box .container.full-height {
  margin: 0 auto;
  flex: 1 1 auto;
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100%;
  background-color: white;
}

.box .container.full-height.main {
  background-color: #a5a5a5;
}

.box .container .row.full-height {
  min-height: 100%;
  width: 100%;
}

.title {
  margin-top: 20px;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
}

.home-text {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 0;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.subtitle {
  font-size: 40px;
  font-style: italic;
  margin: 12px auto;
  text-align: center;
  width: 50%;
}

.team-logo {
  max-height: 70px;
  margin: 8px 0;
}

.header.team-logo {
  margin-right: 20px;
}

a.external{
  margin-right: 30px;
  color: #686868;
}

a.external:hover {
  color: black;
}

.schedule {
  margin: 20px auto;
}

.game {
  padding-top: 10px;
  line-height: 8px;
}

.game.byu-primary {
  border: solid 2px #001C54;
}

.game.knights-primary {
  border: solid 2px #85714D;
}

.opponent {
  font-size: 16px;
  font-weight: bold;
}

.date {
  font-size: 14px;
  font-style: italic;
}

.score {
  font-size: 20px;
  font-weight: bold;
}

.score.win {
  color: #008000
}

.score.loss {
  color: #FF0000;
}

.bold {
  font-weight: bold;
}

.centered-header {
  font-weight: bold;
  text-align: center;
}

.centered-header.byu-primary {
  color: #001C54;
}

.centered-header.knights-primary {
color: #85714D;
}

.season-record {
margin: 20px 0 0 0;
text-align: center;
font-weight: bold;
}

.season-record.byu-primary {
  color: #001C54;
}

.season-record.colts-primary {
  color: #002C5F;
}

.season-record.knights-primary {
  color: #85714D;
}

.news {
  margin: 20px 0 0 0;
}

.player-portrait {
  height: 350px;
  display: block;
  margin: 0 auto;
}

.center {
  text-align: center;
}
