html {
  height: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Arial", sans-serif;
  height: 100%;
}

.navbar {
  background-color: #d1d1d1;
}

.nav-item {
  font-size: 20px;
  font-weight: bold;
}

.footer {
  width: 100%;
  background-color: #393939;
  padding: .5em 0;
  text-align: center;
}

.footer.byu-primary {
  background-color: #001C54;
}

.footer a{
  color: white;
}

.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.box .container {
  margin: 0 auto;
  flex: 1 1 auto;
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100%;
}

.box .container .row {
  min-height: 100%;
  width: 100%;
}

.team-logo {
  max-height: 70px;
}

.header.team-logo {
  margin-right: 50px;
}

.schedule {
  margin: 20px auto;
}

.game {
  padding-top: 10px;
  line-height: 8px;
}

.game.byu-primary {
  border: solid 2px #001C54;
}

.game.knights-primary {
  border: solid 2px #85714D;
}

.score.win {
  color: #008000
}

.score.loss {
  color: #FF0000;
}